@use "../../styles/components/utils" as *;

.input {
  appearance: none;
  background-color: inherit;
  color: $N0;
  text-align: right;
  transition: all 0.2s ease 0s;
  font-size: rem(16);
  font-weight: 500;
  cursor: pointer;
  &::placeholder {
    color: $N8;
    font-weight: 500;
    font-family: "Space Grotesk", sans-serif;
  }
  @media (any-hover: hover) {
    &:hover::placeholder {
      color: $N6;
    }
  }
  :disabled {
    color: $N_10;
    cursor: no-drop;
    @media (any-hover: hover) {
      &:hover {
        color: $N_10;
      }
    }
  }
}
@media (max-width: 360px) {
  .input {
    width: 140px;
  }
}
