// COLORS
$P1: #476cff;
$P2: #323efb;
$N0: #ffffff;
$N1: #fafbfc;
$N2: #f4f5f7;
$N3: #ebecf0;
$N4: #dfe1e6;
$N5: #c2c7cf;
$N6: #b4bac4;
$N7: #98a0ae;
$N8: #7c8698;
$N9: #606c82;
$N_10: #44526c;
$N_11: #1f2934;
$N_12: #10161d;

$red: #c13131;
$green: #7cfc7a;
$gradient: linear-gradient(to bottom, #04060c 0%, #15171d 100%);

$colorWhite: #fff;
$colorBlack: #000000;

// FONTS
$baseFontSize: 18px;
$baseFontColor: $N0;

//OTHER
$boxShadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

// OFFSET
$mobile-container-padding-x: 16px;
