@use "../../styles/components/utils" as *;

.container {
  width: 100%;
  height: 120px;
  background-color: $N_12; // ?
  display: flex;
  flex-direction: column;
  padding: 48px 32px;
  position: relative;
  border-radius: $borderRadius;
  transition: all 0.2s ease 0s;
  cursor: pointer;
  @media (any-hover: hover) {
    &:hover {
      background-color: $N_11;
      input {
        transition: all 0.2s ease 0s;
        color: $N0;
        &::placeholder {
          color: $N6;
        }
      }
    }
  }
  &.active {
    box-shadow: 0 0 0 1px #476cff;
  }
}
.body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.label {
  position: absolute;
  top: 16px;
  left: 32px;
  text-transform: uppercase;
  columns: $N8;
  font-weight: 500;
  font-size: 12px;
}
.item {
  max-width: 66px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.token {
  font-size: 18px;
  font-weight: 500;
}
.loader {
  display: flex;
  justify-content: flex-end;
}
.input {
  flex-grow: 1;
}

@media (max-width: 360px) {
  .container {
    padding: 48px 16px;
  }
}
